{{#each this}}
<li class="event-grid__item">
    <div class="card">
        <img class="card__img" src="{{ this.images.1.url}}" alt="" />
        <h2 class="card__heading">{{this.name}}</h2>
        <p class="card__date">{{this.dates.start.localDate}}</p>
        <p class="card_place">{{this._embedded.venues.0.address.line1}}</p>
    </div>
</li>
{{/each}}