:root {
    --main-font: 'Montserrat', sans-serif;
    --accent-color: #DC56C5;
    --input-placeholder-footer: #939393;
    --modal-button-background: #4C00FE;
    --modal-text-color: #0E0E0E;
    --sub-title-color: #FFFFFF;
    --modal-background-color: #FFF2FD;
}