:root {
  --main-font: 'Montserrat', sans-serif;
  --accent-color: #dc56c5;
  --input-placeholder-footer: #939393;
  --modal-button-background: #4c00fe;
  --modal-text-color: #0e0e0e;
  --sub-title-color: #ffffff;
  --modal-background-color: #fff2fd;
  --input-bgr-color: rgba(255, 255, 255, 0.2);
}
