<div class="container">
  <div class="input-event">
    <form class="search-event">
      <input type="text" class="search-input-event" placeholder="Start searching" />
      <button type="submit" class="search-button"></button>
    </form>
  </div>
  <div class="dropdown-country">
    <button class="drop-btn">Choose country</button>
    <div id="myDropdown" class="dropdown-content">
      <input type="text" placeholder="Search.." id="myInput" />
      <div class="dropdown-list"></div>
    </div>
  </div>
</div>
