body {
  background-color: #0e0e0e;
}

.card::before {
  content: '';
  display: inline-block;
  width: 153px;
  height: 143px;
  background-image: url(../../src/images/icon-rectangle.svg);
  background-repeat: no-repeat;

  position: absolute;
  top: -13px;
  right: 0px;

  @include mobile {
    width: 109px;
    height: 101px;

    top: -10px;
    right: 0px;
  }
}

.card {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  text-align: center;
  width: 194px;

  @include mobile {
    width: 138px;
  }
}

.card__img {
  object-fit: cover;
  border-radius: 50px 0px;
  width: 180px;
  height: 227px;

  @include mobile {
    width: 128px;
    height: 161px;
  }
}

.card__heading,
.card__date,
.card_place {
  color: var(--sub-title-color);
  font-family: var(--main-font);
  line-height: 1.22;
}

.card__heading {
  color: var(--accent-color);
  font-size: 16px;
  margin-top: 5px;
  max-width: 184px;

  @include mobile {
    max-width: 128px;
  }
}

.card__date {
  margin-top: 5px;
}

.card_place::before {
  content: '';
  display: inline-block;
  width: 7px;
  height: 10px;
  background-image: url(../../src/images/icon-vector.svg);
  margin-right: 3px;

  @include mobile {
    width: 6px;
    height: 9px;
  }
}

.card_place {
  font-size: 14px;
  margin-top: 5px;

  @include mobile {
    font-size: 12px;
  }
}
