:root {
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --animation-duration: 250ms;
}

/*body {
  background-image: url(../src/01.jpg);
  background-repeat: no-repeat;
  background-size: contain;
}*/
.team {
  //width: 1280px;
  margin-left: auto;
  margin-right: auto;
}
.team-title {
  margin-bottom: 20px;
  font-weight: 700;
  font-style: normal;
  font-size: 65px;
  line-height: 1.18;
  text-align: center;
  color: mediumseagreen;

  @include mobile {
    text-align: center;
    font-size: 20px;
    line-height: 1.14;
  }
}

.team-list {
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 40px 40px;
  max-width: calc(100%-100px);

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style-type: none;
  padding-left: 0;

  @include mobile {
    flex-direction: column;
    max-width: 470px;
    margin-left: auto;
    margin-right: auto;
  }
}
.team-item {
  height: auto;
  padding: 10px;
  background-color: oldlace;
  border-radius: 10px 0 10px 0;
  box-shadow: 0px 0px 35px -1px rgb(2, 143, 44);

  @include mobile {
    width: 500px;
  }
}
.team-item:hover,
.team-item:focus {
  transition: color var(--animation-duration) var(--timing-function);
}

.team-thumb {
  /* width: 200px;
  height: 300px;*/
}

.team-img {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.team-img:hover,
.team-img:focus {
  transition: color var(--animation-duration) var(--timing-function);
}
.team-name {
  margin: 10px auto;
  font-weight: 550;
  font-style: normal;
  font-size: 34px;
  line-height: 1.18;
  text-align: center;
  color: #545454;

  @include mobile {
    font-size: 40px;
    line-height: 1.14;
    font-weight: 600;
  }
}

.team-link {
  color: #545454;
  text-decoration: revert;
  transition: color var(--animation-duration) var(--timing-function);
  @include mobile {
  }
}
.team-box {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  @include mobile {
    flex-direction: column;
    align-items: center;
  }
}

.team-role {
  margin-top: 0;
  margin-bottom: 0;
  padding: 10px 5px 10px 5px;
  font-weight: 500;
  font-style: normal;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  color: #545454;
  text-decoration: revert;

  transition: color var(--animation-duration) var(--timing-function);

  @include mobile {
    font-size: 30px;
    line-height: 1.14;
  }
}
.team-role:focus,
.team-role:hover {
  color: rgb(2, 143, 44);
}
.github-icon {
  fill: #000000;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  transition: box-shadow var(--animation-duration) var(--timing-function);
}

.team-link:hover,
.team-link:focus {
  box-shadow: 0px 0px 21px -1px rgb(2, 143, 44);
}
.github-icon:hover,
.github-icon:focus {
  box-shadow: 0px 0px 21px -1px rgb(2, 143, 44);
}

.social-icons__item {
  list-style: none;
  padding: 5px;
}
.social-icons {
  padding-left: 0;
  @include mobile {
    display: inline-flex;
  }
}
body {
  width: 100%;
  height: 100vh;
  background-color: #000;
  background-image: radial-gradient(
      circle at top right,
      rgba(121, 68, 154, 0.13),
      transparent
    ),
    radial-gradient(circle at 20% 80%, rgba(41, 196, 255, 0.13), transparent);
}
canvas {
  position: fixed;
  width: 100%;
  height: 100%;
}

/*a {
  bottom: 2vmin;
  right: 2vmin;
}
color: rgba(255, 255, 255, 0.2);
  text-decoration: none;
a:hover {
  color: #fff;
}*/
