// Стили прелоадера
.preloader {
  display: flex;
  justify-content: center;
}

.lds-facebook {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: var(--accent-color);
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook div:nth-child(1) {
  border-radius: 8px 0px;
  left: 8px;
  animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
  border-radius: 8px 0px;
  left: 32px;
  animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3) {
  border-radius: 8px 0px;
  left: 56px;
  animation-delay: 0;
}
@keyframes lds-facebook {
  0% {
    top: 8px;
    height: 64px;
  }
  50%, 100% {
    top: 24px;
    height: 32px;
  }
}
// ---

.event-grid {
  padding-top: 9px;
  margin: 0 auto;
  display: grid;
  justify-content: center;
  max-width: calc(100% - 40px);
  //  если нужно до следующего перелома жестко зафиксить размер карточки
  grid-template-columns: repeat(1, 138px);

  //  если до следующего перелома размер карточки будет растягиваться и их остается 2
  // grid-template-columns: repeat(2, minmax(138px, 1fr));

  //  если до следующего перелома размер карточки будет фиксированным,
  //  но количество в строке будет увеличиваться
  //  grid-template-columns: repeat(auto-fill, minmax(138px, 1fr));
  grid-gap: 30px 4px;

  @include mobile {
    grid-template-columns: repeat(2, 138px);
  }

  @include tablet {
    padding-top: 13px;
    max-width: calc(100% - 158px);
    grid-template-columns: repeat(3, 194px);
    // grid-template-columns: repeat(3, minmax(194px, 1fr));
    grid-gap: 45px 13px;
  }
  @include desktop {
    padding-top: 13px;
    max-width: calc(100% - 334px);
    grid-template-columns: repeat(4, 194px);
    // grid-template-columns: repeat(4, minmax(194px, 1fr));
    grid-gap: 50px 56px;
  }
}
.event-grid__item {
  // background-color: tomato;
  list-style: none;
  min-height: 228px;
  cursor: pointer;

  @include tablet {
    min-height: 312px;
  }
  @include desktop {
    min-height: 312px;
  }

  &:hover,
  &:focus {
  transform: scale(1.08);
  transition: 500ms;
}
}

.animation {
  &:nth-child(odd){
    animation: fadeInDown;
    animation-duration: 1.5s;
  }

  &:nth-child(even){
    animation: fadeInUp;
    animation-duration: 1.5s;
  }
}
