.header-bg {
  z-index: -5;
}

.header-bg {
  @include mobile {
    background-image: linear-gradient(
        180deg,
        rgba(13, 13, 13, 0.19) 0%,
        rgba(14, 14, 14, 0.8) 100%
      ),
      url(../images/mobile/mobile-intro.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 364px;
    width: 100%;
    position: absolute;
    @include retina2 {
      background-image: linear-gradient(
          180deg,
          rgba(13, 13, 13, 0.19) 0%,
          rgba(14, 14, 14, 0.8) 100%
        ),
        url(../images/mobile/mobile-intro@2x.jpg);
      background-repeat: no-repeat;
      background-size: 100% 100%;
      height: 364px;
      width: 100%;
      position: absolute;
    }
  }
  @include tablet {
    background-image: linear-gradient(
        180deg,
        rgba(13, 13, 13, 0.19) 0%,
        rgba(14, 14, 14, 0.8) 100%
      ),
      url(../images/tablet/tablet-intro.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 364px;
    width: 100%;
    position: absolute;
    @include retina2 {
      background-image: linear-gradient(
          180deg,
          rgba(13, 13, 13, 0.19) 0%,
          rgba(14, 14, 14, 0.8) 100%
        ),
        url(../images/tablet/tablet-intro@2x.jpg);
      background-repeat: no-repeat;
      background-size: 100% 100%;
      height: 364px;
      width: 100%;
      position: absolute;
    }
  }
  @include desktop {
    background-image: linear-gradient(
        180deg,
        rgba(13, 13, 13, 0.19) 0%,
        rgba(14, 14, 14, 0.8) 100%
      ),
      url(../images/desktop/desktop-into.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 446px;
    width: 100%;
    position: absolute;
    @include retina2 {
      background-image: linear-gradient(
          180deg,
          rgba(13, 13, 13, 0.19) 0%,
          rgba(14, 14, 14, 0.8) 100%
        ),
        url(../images/desktop/desktop-into@2x.jpg);
      background-repeat: no-repeat;
      background-size: 100% 100%;
      height: 446px;
      width: 100%;
      position: absolute;
    }
  }
}
